{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    Image
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_crud_images') }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
	<div id="content" class="crud-container">
		<label class="label">Update an Image</label>
		{{ form(imageForm) }}
	</div>
{% endblock %}