{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    Image
{% endblock %}

{% block body %}
	<div id="content" class="crud-container">
		<label class="label">Update an Image</label>
		{{ form(imageForm) }}
	</div>
{% endblock %}