{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
{% endblock %}

{% block header_back_btn %}
{% endblock %}

{% block body %}
    <div id="content">
    </div>
{% endblock %}