{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{course.name}}
{% endblock %}

{% block header_back_btn %}
<a href="{{ path('iry_appli_home') }}" id="back_btn">
		<img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
	</a>
{% endblock %}

{% block body %}
    <div id="content">
        <!--div class="text">
            <span> SUCESS </span>
        </div-->
        <section id="dc">
            <div class="dc_wrap cf" data-step="1">
                <div class="list">
                    <ul class="pilot_list">
<<<<<<< HEAD
                            <a href="">
                                <li class="pilot cf" data-pilot-id="1">
                                    <div class="pilot_name element" data-step="2">
                                        <span>Not light On</span>
                                    </div>
                                    <div class="stats">
                                        <div class="success element">
                                            <span>25</span>
                                        </div>
                                        <div class="errors element">
                                            <span>2</span>
                                        </div>
                                        <div class="favorites element">
                                            <span data-favorites-time="0"></span>
                                        </div>
                                    </div>                                                                   
                                </li>
                            </a>
                            <a href="">
                                <li class="pilot cf" data-pilot-id="1">
                                    <div class="pilot_name element" data-step="2">
                                        <span>FUEL PUMP On</span>
                                    </div>
                                    <div class="stats">
                                        <div class="success element">
                                            <span>25</span>
                                        </div>
                                        <div class="errors element">
                                            <span>2</span>
                                        </div>
                                        <div class="favorites element">
                                            <span data-favorites-time="0"></span>
                                        </div>
                                    </div>                                                                   
                                </li>
                            </a>
                            <a href="">
                                <li class="pilot cf" data-pilot-id="1">
                                    <div class="pilot_name element" data-step="2">
                                        <span>ANTI COL On</span>
                                    </div>
                                    <div class="stats">
                                        <div class="success element">
                                            <span>25</span>
                                        </div>
                                        <div class="errors element">
                                            <span>2</span>
                                        </div>
                                        <div class="favorites element">
                                            <span data-favorites-time="0"></span>
                                        </div>
                                    </div>                                                                   
                                </li>
                            </a>
                            <a href="">
                                <li class="pilot cf" data-pilot-id="1">
                                    <div class="pilot_name element" data-step="2">
                                        <span>STARTING SELECTOR On</span>
                                    </div>
                                    <div class="stats">
                                        <div class="success element">
                                            <span>25</span>
                                        </div>
                                        <div class="errors element">
                                            <span>2</span>
                                        </div>
                                        <div class="favorites element">
                                            <span data-favorites-time="0"></span>
                                        </div>
                                    </div>                                                                   
                                </li>
                            </a>
                            <a href="">
                                <li class="pilot cf" data-pilot-id="1">
                                    <div class="pilot_name element" data-step="2">
                                        <span>Raise the speed continuously</span>
                                    </div>
                                    <div class="stats">
                                        <div class="success element">
                                            <span>25</span>
                                        </div>
                                        <div class="errors element">
                                            <span>2</span>
                                        </div>
                                        <div class="favorites element">
                                            <span data-favorites-time="0"></span>
                                        </div>
                                    </div>                                                                   
                                </li>
                            </a>
                             <a href="">
                                <li class="pilot cf" data-pilot-id="1">
                                    <div class="pilot_name element" data-step="2">
                                        <span>FUEL PUMP Off</span>
                                    </div>
                                    <div class="stats">
                                        <div class="success element">
                                            <span>25</span>
                                        </div>
                                        <div class="errors element">
                                            <span>2</span>
                                        </div>
                                        <div class="favorites element">
                                            <span data-favorites-time="0"></span>
                                        </div>
                                    </div>                                                                   
                                </li>
                            </a>
                             <a href="">
                                <li class="pilot cf" data-pilot-id="1">
                                    <div class="pilot_name element" data-step="2">
                                        <span>PITOT On</span>
                                    </div>
                                    <div class="stats">
                                        <div class="success element">
                                            <span>25</span>
                                        </div>
                                        <div class="errors element">
                                            <span>2</span>
                                        </div>
                                        <div class="favorites element">
                                            <span data-favorites-time="0"></span>
                                        </div>
                                    </div>                                                                   
                                </li>
                            </a>
=======
                        <a href="">
                            <li class="pilot" data-pilot-id="1">
                                <div class="pilot_name element" data-step="2">
                                    <span>Not light On</span>
                                </div>                                                                        
                                <div class="success element">
                                    <span>25</span>
                                </div>
                                <div class="errors element">
                                    <span>2</span>
                                </div>
                                <div class="favorites element">
                                    <span data-favorites-time="0"></span>
                                </div>
                            </li>
                        </a>
                        <a href="/practical-training/5/pilot/2">
                            
                            <li class="pilot" data-pilot-id="2">
                                <div class="pilot_name element">
                                    <span>FUEL PUMP On</span>
                                </div>                                                                     
                                <div class="success element" data-step="4">
                                    <span>25</span>
                                </div>
                                <div class="errors element" data-step="5">
                                    <span>2</span>
                                </div>
                                <div class="favorites element">
                                    <span data-favorites-time="0"></span>
                                </div>
                            </li>
                        </a>
                        <a href="/practical-training/5/pilot/3">
                            
                            <li class="pilot" data-pilot-id="3">
                                <div class="pilot_name element">
                                    <span>ANTI COL On</span>
                                </div>                                                         
                                <div class="success element">
                                    <span>25</span>
                                </div>
                                <div class="errors element">
                                    <span>2</span>
                                </div>
                                <div class="favorites element">
                                    <span data-favorites-time="0"></span>
                                </div>
                            </li>
                        </a>
                        <a href="/practical-training/5/pilot/4">
                            
                            <li class="pilot" data-pilot-id="4">
                                <div class="pilot_name element">
                                    <span>STARTING SELECTOR On</span>
                                </div>                                    
                                <div class="success element">
                                    <span>25</span>
                                </div>
                                <div class="errors element">
                                    <span>2</span>
                                </div>
                                <div class="favorites element">
                                    <span data-favorites-time="0"></span>
                                </div>
                            </li>
                        </a>
                         <a href="/practical-training/5/pilot/5">
                            
                            <li class="pilot" data-pilot-id="5">
                                <div class="pilot_name element" 
                                    <span>GENE On</span>
                                </div>
                                
                                <div class="success element">
                                    <span>25</span>
                                </div>
                                <div class="errors element">
                                    <span>2</span>
                                </div>
                                <div class="favorites element">
                                    <span data-favorites-time="0"></span>
                                </div>
                            </li>
                        </a>
                        <a href="/practical-training/5/pilot/5">
                            
                            <li class="pilot" data-pilot-id="6">
                                <div class="pilot_name element">
                                    <span>PITOT On</span>
                                </div>                                 
                                <div class="success element">
                                    <span>25</span>
                                </div>
                                <div class="errors element">
                                    <span>2</span>
                                </div>
                                <div class="favorites element">
                                    <span data-favorites-time="0"></span>
                                </div>
                            </li>
                        </a>
                        <a href="/practical-training/5/pilot/5">
                            
                            <li class="pilot" data-pilot-id="6">
                                <div class="pilot_name element">
                                    <span>Raise the speed constinuously</span>
                                </div>                                 
                                <div class="success element">
                                    <span>25</span>
                                </div>
                                <div class="errors element">
                                    <span>2</span>
                                </div>
                                <div class="favorites element">
                                    <span data-favorites-time="0"></span>
                                </div>
                            </li>
                        </a>
                        <a href="/practical-training/5/pilot/5">
                            
                            <li class="pilot" data-pilot-id="6">
                                <div class="pilot_name element">
                                    <span>FUEL PUMP Off</span>
                                </div>                                 
                                <div class="success element">
                                    <span>25</span>
                                </div>
                                <div class="errors element">
                                    <span>2</span>
                                </div>
                                <div class="favorites element">
                                    <span data-favorites-time="0"></span>
                                </div>
                            </li>
                        </a>
>>>>>>> 88849200ee0ba69b482fb580d5c16f52bc109a0f
                    </ul>
             </div> 
        </section>
    </div>
{% endblock %}

