<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <a href="{{ path('iry_appli_choixcours', {helicopter_id:course.subTheme.theme.helicopter.id}) }}">Back</a>
<table>
    	<tr>
    		<td>Pilot</td>
    	</tr>
    	<tr>
    		<td><!--Liste des Pilotes-->
		        <ul>
        			{% for pilot in pilots %}
        				<li>{{pilot.name}}</li>
    				{% endfor %}
		        </ul>
			</td>
		</tr>	
	</table>
</body>
</html>