{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    {{pilot.name}}
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_appli_ep', {course_id: course.id}) }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
    <div id="content">
         {{ pilot.name }}   
    </div>
{% endblock %}