<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<h1>Welcome !</h1>
	
	<table>
		{% for helicopter in data %} <!-- boucle parmi la liste des hélicos -->
		<tr>
			<td>{{helicopter.id}}</td>
			<td>{{helicopter.name}}</td>
		</tr>
		{% endfor %}
	</table>

</body>
</html>