{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    Steps
{% endblock %}

{% block body %}
	<div id="content" class="crud-container">
		<label class="label">Update a Step</label>
		{{ form(updateStepForm) }}
	</div>
{% endblock %}
