{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    Steps
{% endblock %}

{% block header_back_btn %}
    <a href="{{ path('iry_crud_step_list') }}" id="back_btn">
        <img src="{{ asset('bundles/iryappli') }}/img/fleche_gauche.png" alt="Retour accueil">
    </a>
{% endblock %}

{% block body %}
	<div id="content" class="crud-container">
		<label class="label">Update a Step</label>
		{{ form(updateStepForm) }}
	</div>
{% endblock %}
