<html>
<head>
<link rel="stylesheet" href="css/style.css" type="text/css" /> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
</head>
<body class="body-categorie">
<div class="content-categorie">
<!-- le div header  -->
<div class="header-categorie"><a href="index.html"><img src="images/logo-categorie.png"></a>
</div>
<!-- le div menu -->
<div class="menu-categorie1">
<div class="title-dispositifs" > LES<br> DISPOSITIFS<br> DU PROJET</div>
<div class="oculus-rift1"> <span class="titre-menu"> Oculus Rift</span>
		<span id="contenu-oculus-rift">	
		 <ul id="menu-deroulant">
			<li><a href="#">Interview Philippe Bonfils</a></li>
			<li><a href="#">Interview Balthazar Anxiètre</a></li>
			<li><a href="#">Interview Daniel Mestre</a></li>
			<li><a href="#">Fiche technique</a></li>
		</ul>
		</span>
</div>
<div class="leap-motion1"> <span class="titre-menu">Leap Motion </span>
		<span id="contenu-leap-motion">
			<ul id="menu-deroulant">
			<li><a href="#">Interview Rémi Quittard </a></li>
			<li><a href="#">Fiche technique</a></li>
		</ul>
		</span>
</div>
<div class="tablette1"> <span class="titre-menu">Tablette</span>
		<span id="contenu-tablette">
		<ul id="menu-deroulant">
			<li><a href="#">Fiche technique</a></li>
		</ul>
		</span>
</div>
</div>
<div class="menu-categorie">
<div class="barre"></div>
<div class="oculus-rift"> </div>
<div class="leap-motion"></div>
<div class="tablette"></div>
</div>

<footer class="footer">
<span class="title2">Dispositif</span>
<br>
<br>
<img src="images/menu-small.png">
</footer>
</div>
</body>
</html>