{% extends 'IRYWebDocBundle:Default:base.html.twig' %}		

{% block body %}
		
    <div class="content full video">
      <video id="v1" class="content-video">    
        <source class="video" src="{{ asset('bundles/irywebdoc') }}/videos/PiloteMonacair.mov" type="video/mp4">
      </video>
    </div>
    <div class="barre-wrap">
      <h2>Enjeux pédagogiques</h2>
      <div id="defile">
        <h3 class="title_video_1">Le métier de pilote</h3>   
        <div id="precharge"></div>
        <h3 class="title_video_3" style="left:33%">Les besoins d'immersion</h3>
        <div class="trait" style="left:33%"></div>
        <h3 class="title_video_4" style="left:66%">Learning by Doing</h3>
        <div class="trait" style="left:66%"></div> 
      </div>
    </div>
    <script>
      var videosSources = [
        "{{ asset('bundles/irywebdoc') }}/videos/PiloteMonacair.m4v",
        "{{ asset('bundles/irywebdoc') }}/videos/InstructeurAH.mov",
        "{{ asset('bundles/irywebdoc') }}/videos/LearningByDoing.mov",
      ];
    </script>
    
{% endblock %}
{% block footer %}
{% endblock %}