{% extends 'IRYWebDocBundle:Default:base.html.twig' %}		

{% block body %}
		
	<div class="content full team bg-ingemedia">
		<div class="dispositifs">
			<div class="barre"></div>
			<!-- <h2 class="troislignes">Titre</h2> -->
			<div class="projet alias1">
				<div class="subnav">
					<h3>Alias 1</h3>
					<h4>Plateforme virtuelle de formation</h4>
					<p class="date">2008 / 2009</p>
					<p class="description">La saison 1 d’Alias a démontré différents atouts des nouvelles technologies, notamment dans le domaine de la formation à distance pour Eurocopter ainsi que ses clients.</p>
				</div>
			</div>
			<div class="projet alias2">
				<div class="subnav">
					<h3>Alias 2</h3>
					<h4>Plateforme sociale 3D</h4>
					<p class="date">2009 / 2010</p>
					<p class="description">La saison 2 agrémente ce concept par un aspect social avec la mise en place d’une communauté dont les atouts majeurs sont la fidélisation et l’accompagnement du client.</p>
				</div>
			</div>
			<div class="projet alias3">
				<div class="subnav">
					<h3>Alias 3</h3>
					<h4>Un aboutissement</h4>
					<p class="date">2010 / 2011</p>
					<p class="description">Le projet Alias saison 3 est, quant à lui, l’aboutissement des recherches et travaux menés depuis trois ans grâce au partenariat entre Eurocopter et Ingémedia.</p>
				</div>
			</div>
			<div class="projet icare">
				<div class="subnav">
					<h3>I-Care</h3>
					<h4>Serious game pour pilotes</h4>
					<p class="date">2011 / 2012</p>
					<p class="description">Le projet I-Care a été une solution au trop grand nombre d’accidents dus au facteur humain. Un Serious Game ayant pour but d’entraîner les pilotes à améliorer leur conscience de la situation en vol et à optimiser le temps de prise de décision en situation de surcharge cognitive.</p>
				</div>
			</div>
			<div class="projet esaac">
				<div class="subnav">
					<h3>Esaac</h3>
					<h4>Serious game pour techniciens et pilotes</h4>
					<p class="date">2012 / 2013</p>
					<p class="description">E-saac fût le second projet sous forme de Serious Game visant à améliorer la formation. Un outil ludique et immersif qui accompagne l’apprenant dans la construction et l’entretien de son savoir au sein d’une communauté.</p>
				</div>
			</div>
			<div class="projet odin">
				<div class="subnav">
					<h3>Odin</h3>
					<h4>Solution de dépannage à distance</h4>
					<p class="date">2013 / 2014</p>
					<p class="description">Le projet ODIN se concentre sur l’aide aux mécaniciens. La mise en oeuvre d’une solution d’assistance au dépannage et à la réparation des hélicoptères, où autonomie et assistance ne font qu’un.</p>
				</div>
			</div>
		</div>
	</div>
    
{% endblock %}