{% extends 'IRYWebDocBundle:Default:base.html.twig' %}		

{% block body %}
		
	<div class="content full remerciements bg-airbus">
		<section class="remerciements-globaux">
			
			<h1>Remerciements</h1>
			<div class="remerciements-body">

				<p>
					Nous tenons à remercier toutes les personnes ayant pris part au projet grâce à leur regard d’expert. Parmi elles, François Xavier DE BENGY, Léna ROUDIL, Pascal ROQUES, Willy BARROY, Philippe BONFILS, Guillaume OLLIVIER et Jean-Pierre LOUP. Leur écoute, leur disponibilité et leur encadrement nous ont permis de mener notre projet à bien. 
					Nous tenons également à remercier, pour leur collaboration :

					<ul>
						<p>MONACAIR : Gérard Borgazzi, Frédéric Prauet et Robert Havard</p>
						<p>Middle VR : Sébastien Kuntz</p>
						<p>Innerspace : Balthazar Auxietre</p>
						<p>Ingémédia et Télomédia  : Laurent Collet, Rémi Quittard, Melvin Paz, Ludovic Picard, José Alfaric</p>
					</ul>
					
				</p>
				
			</div>

			<div class="airbus"><img src="{{ asset('bundles/irywebdoc') }}/images/logo-airbus-helicopters.png" alt="Airbus"></div>
			<div class="ingemedia"><img src="{{ asset('bundles/irywebdoc') }}/images/logo-ingemedia.png" alt="Ingémédia"></div>

		</section>

		<section class="remerciements-airbus hide">
			<h1>Airbus Helicopters</h1>
			<div class="remerciements-body cf">
				<p>
					L’entreprise développe depuis 1992 son expertise dans le domaine de l’aéronautique. Elle conçoit des hélicoptères et forme les pilotes et techniciens de demain.
					<br><br>
					Il s’agit aujourd’hui du : 
					<ul>
						<li>Premier hélicoptériste mondial</li>
						<li>Leader international en construction et vente d’hélicoptères civils</li>
						<li>Principal constructeur d’hélicoptères militaires</li>
					</ul>
					<br><br>
					Points de contacts référents : <br>
					Membres de la section formation d’Airbus Helicopters
				</p>

				<div class="w50">
					<p>François Xavier DE BENGY</p>
					<p>Expertise - Solutions Transversales</p>
					<p>francois-xavier.de-bengy@airbus.com</p>
				</div>
				<div class="w50">
					<p>Léna ROUDIL</p>
					<p>Manager outils pédagogiques</p>
					<p>lena.roudil@airbus.com</p>
				</div>
				<div class="w50">
					<p>Pascal ROQUES</p>
					<p>Manager de la formation des pilotes</p>
					<p>pascal.roques@airbus.com</p>
				</div>
				<div class="w50">
					<p>Guillaume Jean-Jacques OLLIVIER</p>
					<p>Formateur théorique hélicoptères légers</p>
					<p>guillaume-jean-jacques.ollivier@airbus.com</p>
				</div>
				<div class="w50">
					<p>Jean-Pierre LOUP</p>
					<p>Formateur théorique hélicoptères légers</p>
					<p>jean-pierre.loup@airbus.com</p>
				</div>
				<div class="w50">
					<p>Willy BARROY</p>
					<p>Doctorant à l’UTLN - Thèse “Cadrage d’une recherche appliquée dans l’industrie : l’impossible modélisation d’un dispositif pédagogique ?”</p>
					<p>willy.barroy@airbus.com</p>
					<br>
				</div>
			</div>

			<a href="remerciements.html" class="back-btn">Retour</a>
		</section>

		<section class="remerciements-ingemedia hide">
			<h1>Ingémédia</h1>
				
			<div class="remerciements-body cf">
				<p>
					Situé au cœur de Toulon, l’UFR Ingémédia est un centre de recherche et de formation aux nouveaux médias et technologies des Sciences de l’Information et de la Communication. Cet URF privilégie une pédagogie par projet à travers des réalisations collectives répondant à des commandes d’institutions ou d’industries.
					<br>
					Les étudiants de 3 formations d’Ingémédia sont en charge du projet Iry :				
					<ul>
						<li>Master 2 Production et Immersion Numérique, dirigé par Philippe Bonfils</li>
						<li>Master 2 E-Rédactionnel, dirigé par Lucia Granget</li>
						<li>Master 2 Ingénierie des médias, dirigé par Michel Durampart</li>
					</ul>
				</p>
				
				<div class="w50">
					<p>Philippe BONFILS</p>
					<p>Enseignant référent du projet</p>
					<p>bonfils@univ-tln.fr</p>
				</div>
				<div class="w50">
					<p>Laurent COLLET</p>
					<p>Directeur de l’Institut Ingémédia</p>
					<p>laurentcollet@univ-tln.fr</p>
				</div>
			</div>

			<a href="remerciements.html" class="back-btn">Retour</a>

		</section>
	</div>
    
{% endblock %}