{% extends 'IRYWebDocBundle:Default:base.html.twig' %}


	{% block body %}
	    
		<div class="content full team">
			<h1 class="pole-title">Les chefs de projet</h1>
			<blockquote class="pole-citation">
				“Un vrai leader n'a pas besoin de conduire. Il suffit qu'il montre le chemin.”
				<cite>Henry Miller</cite>
			</blockquote>


			<div class="poles">
				<div class="barre"></div>

				<div class="pole pole-gestion" data-title="Les chefs de projet" data-pole="pole-gestion" data-citation="“Un vrai leader n'a pas besoin de conduire. Il suffit qu'il montre le chemin.”" data-citation-auteur="Henry Miller"></div>
				<div class="pole pole-dev" data-title="Le pôle technique" data-pole="pole-dev" data-citation="“Faire simple est probablement l’objectif le plus sophistiqué du monde.”" data-citation-auteur="Steve Jobs"></div>
				<div class="pole pole-crea" data-title="Le pôle graphisme" data-pole="pole-crea" data-citation="“Notre métier représente une sensibilité qui prend aujourd’hui le nom d’émotion.”" data-citation-auteur="Joël Desgrippes"></div>
				<div class="pole pole-audio" data-title="Le pôle audiovisuel" data-pole="pole-audio" data-citation="“L’écran est un support magique. Il a tellement de force qu’il peut retenir l’attention en transmettant des émotions et des humeurs telles qu’aucune autre forme d’art ne puisse lutter.”" data-citation-auteur="Stanley Kubrick"></div>
				<div class="pole pole-comm" data-title="Le pôle Marketing et Communication" data-pole="pole-comm" data-citation="“La qualité de notre communication est déterminée non pas par la manière dont nous disons les choses, mais par la manière dont elles sont comprises.”" data-citation-auteur="Andrew Grove"></div>
			</div>

			<div class="poles-membres">
				<div class="pole pole-gestion">
					<div class="membre manon" data-name="Manon Dibatista" data-promo="IM" data-description="Soucieuse de la cohésion du groupe, Manon est une vraie médiatrice au sein du projet. Dynamique et force de proposition, en plus d’être manager au sein du groupe, elle gère aussi les idées créatives des vidéos et participe à la production audiovisuelle. Dotée d’une grande aisance relationnelle, elle collabore étroitement avec le pôle communication."></div>
					<div class="membre florent" data-name="Florent Merlat" data-promo="PNI" data-description="Pragmatique et toujours disponible, c’est en véritable manager que Florent mène le projet. Spécialisé dans le développement web et attaché à l’expérience utilisateur, il pense le produit de la conception à la production. Sa polyvalence lui permet également de cerner les différents besoins et d'anticiper les éventuels problèmes."></div>
					<div class="membre lamia" data-name="Lamia El Khyami" data-promo="E-Redac" data-description="Véritable stratège, Lamia est spécialisée dans le marketing et la communication. Forte de ses expériences dans la gestion de projet, elle a su donner une vision globale au projet et à la communication qui l’entoure. Plus qu’une manager, son écoute et son sens relationnel la place comme coordinatrice au sein de l’équipe. Polyvalente, elle gère les différents pôles, afin de concevoir des stratégies et des supports de communication adaptés à la cible et au contexte."></div>
				</div>

				<div class="pole pole-dev hide">
					<div class="membre florent" data-name="Florent Merlat" data-promo="PNI" data-description="Pragmatique et toujours disponible, c’est en véritable manager que Florent mène le projet. Spécialisé dans le développement web et attaché à l’expérience utilisateur, il pense le produit de la conception à la production. Sa polyvalence lui permet également de cerner les différents besoins et d'anticiper les éventuels problèmes."></div>
					<div class="membre andy" data-name="Andy Camicci" data-promo="PNI" data-description="Fort de plusieurs expériences réussies dans le développement, Andy est  force de proposition quant aux choix techniques du projet. Possédant un solide bagage de gestion de projet, il prend en charge l’organisation de son pôle, tout en gardant un lien avec les autres pour cerner les besoins et prévenir les risques."></div>
					<div class="membre tarek" data-name="Tarek Daboubi" data-promo="IM" data-description="Grâce à sa bonne maîtrise des logiciels de développement web, Tarek est un développeur rigoureux et force de proposition afin de créer un système performant pour le projet. Sérieux et coopératif, il est toujours prêt à collaborer avec l'équipe et ainsi perfectionner son savoir-faire."></div>
					<div class="membre yassine" data-name="Yassine Moubarak" data-promo="IM" data-description="Spécialisé dans le développement web (HTML, CSS, PHP, CMS), Yassine met à disposition ses compétences techniques dans la réalisation d'un système performant pour le projet, tout en étant disponible et en collaborant avec l'équipe de manière efficace."></div>
					<div class="membre warsama" data-name="Warsama Aden" data-promo="IM" data-description="Fort de quelques années d'expériences et ayant diverses compétences dans le domaine du développement web, Warsama a fait valoir ses compétences techniques au sein du projet. Curieux et coopératif, il a développé une capacité à travailler en groupe et s’est forgé un esprit d'équipe tout au long du projet."></div>
					<div class="membre robin" data-name="Robin Campistron" data-promo="PNI" data-description="Spécialisé dans la production d'images de synthèse, Robin est le référent pour la construction d'univers 3D. Il n'hésite pas à s'initier à de nouveaux logiciels pour mener à bien le projet. Sa capacité à établir les priorités et gérer les imprévus font de lui un technicien efficace sachant proposer des solutions adaptées."></div>
					<div class="membre yves" data-name="Yves Bikouadio" data-promo="IM" data-description="Au cours du projet, Yves a su développer ses compétences en modélisation 3D. Organisé et à l'écoute, sa capacité à prendre du recul face aux travaux réalisés permet de proposer les solutions adéquates à chaque situation."></div>
				</div>

				<div class="pole pole-crea hide">
					<div class="membre anais" data-name="Anaïs Bellot" data-promo="PNI" data-description="Anaïs possède une palette diversifiée de connaissances en logiciels de graphisme. Elle accorde une grande importance au travail d’équipe. Ainsi elle se montre toujours disponible et prête à collaborer avec chaque membre du projet."></div>
					<div class="membre madeline" data-name="Madeline Percher" data-promo="PNI" data-description="Madeline met sa culture graphique et artistique au service de la communication visuelle du projet. Manager au sein de son équipe, son aisance relationnelle lui permet de collaborer aisément avec les autres pôles. Sa connaissance étendue des logiciels print et web fait d’elle une créative efficace et polyvalente."></div>
					<div class="membre bin" data-name="Bin Xing" data-promo="IM" data-description="Graphiste dans l'âme, Bin possède une bonne maîtrise des logiciels. Organisée et créative, elle est toujours prête à coopérer avec chaque membre de l'équipe afin de proposer des créations ayant pour but de perfectionner la communication visuelle du projet."></div>
				</div>

				<div class="pole pole-audio hide">
					<div class="membre jeanedouard" data-name="Jean Edouard Chantebel" data-promo="PNI" data-description="Gestionnaire du matériel de tournage et spécialiste du son, Jean-Edouard a une bonne connaissance du terrain, ce qui permet de réaliser des séquences vidéos et des interviews de manière efficace, tout en respectant le scénario défini. Par ailleurs, son aisance relationnelle lui permet de collaborer étroitement avec chaque membre de l'équipe."></div>
					<div class="membre celtill" data-name="Celtill Paillery" data-promo="PNI" data-description="Disponible et à l’écoute, Celtill manage l’équipe audiovisuelle. Fort d'expériences significatives dans ce domaine, il met son expertise au service du projet en organisant les tournages et les interviews de professionnels. Doté d'une bonne maîtrise du matériel de tournage, il collabore avec le pôle communication de manière récurrente pour l'élaboration des productions audiovisuelles et des supports de communication numériques tels que la webdocumentation."></div>
					<div class="membre manon" data-name="Manon Dibastista" data-promo="IM" data-description="Soucieuse de la cohésion du groupe, Manon est une vraie médiatrice au sein du projet. Dynamique et force de proposition, en plus d’être manager au sein du groupe, elle gère aussi les idées créatives des vidéos et participe à la production audiovisuelle. Dotée d’une grande aisance relationnelle, elle collabore étroitement avec le pôle communication."></div>
					<div class="membre fabio" data-name="Fabio Gbadoe" data-promo="E-Redac" data-description="Spécialisé dans son domaine de prédilection qu'est l'audiovisuel, Fabio possède une expérience solide sur l'utilisation du matériel ainsi que sur la maîtrise des logiciels de montage vidéo et de mixage son. Grâce à sa disponibilité et sa rigueur, il réalise des productions visuelles pour faire connaître le projet de manière dynamique et efficace."></div>
				</div>

				<div class="pole pole-comm hide">
					<div class="membre jennifer" data-name="Jennifer Laude" data-promo="E-Redac" data-description="Diplômée en sociologie et en communication, Jennifer est chargée de la stratégie de communication et participe à la rédaction des supports. Disponible et réactive, elle collabore avec les pôles audiovisuel et graphisme dans le souci d’établir une communication toujours plus proche de la cible et des objectifs définis."></div>
					<div class="membre marion" data-name="Marion Hanna" data-promo="E-Redac" data-description="Spécialisée dans la communication événementielle et soucieuse de développer l'image du projet, Marion a pour mission de mettre en œuvre un plan de communication tout en respectant minutieusement la stratégie définie. Dotée d'une bonne capacité d'adaptation, elle collabore avec les pôles audiovisuel et graphisme pour la conception et la rédaction des supports de communication permettant de mener une promotion efficace du projet."></div>
					<div class="membre jeremy" data-name="Jérémy Maingre" data-promo="IM" data-description="Stratège et organisé, Jérémy gère une équipe de trois communicants permettant ainsi de mener à bien des stratégies de communication adéquates au projet. Coordinateur et créatif, il participe activement aux tâches avec différents pôles tout en étant force de proposition."></div>
					<div class="membre lamia" data-name="Lamia El Khyami" data-promo="E-Redac" data-description="Véritable stratège, Lamia est spécialisée dans le marketing et la communication. Forte de ses expériences dans la gestion de projet, elle a su donner une vision globale au projet et à la communication qui l’entoure. Plus qu’une manager, son écoute et son sens relationnel la place comme coordinatrice au sein de l’équipe. Polyvalente, elle gère les différents pôles, afin de concevoir des stratégies et des supports de communication adaptés à la cible et au contexte."></div>
				</div>
			</div>

			<div class="membre-selectionne">
				<h2>Manon Dibatista</h2>
				<p class="formation">IM</p>
				<p class="description">Soucieuse de la cohésion du groupe, Manon est une vraie médiatrice au sein du projet. Dynamique et force de proposition, en plus d’être manager au sein du groupe, elle gère aussi les idées créatives des vidéos et participe à la production audiovisuelle. Dotée d’une grande aisance relationnelle, elle collabore étroitement avec le pôle communication.</p>
			</div>
		</div>

		<script src="{{ asset('bundles/irywebdoc') }}/scripts/main.js"></script>

	{% endblock %}

