@import "functions";
@import "font.scss";

.left{float: left;}
.right{float: right;}
.center{text-align: center;}
.hide{display: none;}
.inactive{opacity: 0.55;}

$black-color         : #343434;
$grey-dark-dark-color: #909090;
$grey-dark-color     : #a8a8a7;
$grey-color          : #d1cece;
$grey-light-color    : #EEE8EA;
$blue-color          : #0fa7b7;

$theme-color:$grey-dark-dark-color;
$cm-color   :#176c73;
$cd-color   :#178098;
$vi-color   :#0b8ead;
$ep-color   :#0fa7b7;

$header_height : 60px;

@media (min-width: 640px){
  html {font-size: 15px;}
}
@media (max-width: 640px){
  html {font-size: 13px;}
}
html{
	height: 100%;
	overflow: hidden;
	body{
		background: $grey-light-color;
		font-family: 'biko';
		height: 100%;
		overflow: hidden;
		h1{
			position: relative;
			@media (min-width: 640px){
				font-size: 1.2rem;
			}
			@media (max-width: 640px){
				font-size: 1.3rem;
			}
			padding: 10px;
			text-align: center;
		}
		h2{
			position: relative;
			color: $grey-dark-dark-color;
			font-size: 1.2rem;
			text-transform: uppercase;
			padding: 35px 0;
			text-align: center;
			display: inline-block;
			&:after{
				content:"";
				display: block;
				width: 80%;
				border-bottom:1px solid $grey-color;
				margin: auto;
				height: 5px;
			}
		}
		h3{
			position: relative;
			color: white;
			background: $blue-color;
			font-size: 1.2rem;
			padding: 15px 0;
			text-align: center;
		}
		header{
			$header_padding : 10px;
			position: relative;
			height: $header_height;
			background: $black-color;
			padding: $header_padding;
			#header_left{
				position: absolute;
				#back_btn{
					float: left;
					img{
						@media (max-width: 640px){
							height: 14px;
							padding: 12px 14px;
							margin: 11px 0;						
						}
						@media (min-width: 640px){
							height: 20px;
							padding: 15px 20px;
							margin: 5px 0;
						}
						border-right: 1px solid $grey-dark-color;
					}
				}
				#logo{
					float: left;
					@media (max-width: 500px){
						display:none;
					}
					img{
						@media (max-width: 640px){
							padding: 6px 20px;
							height: $header_height - 12;
						}
						@media (min-width: 640px){
							padding: 0 20px;
							height: $header_height;
						}
					}
				}
			}
			#header_center{
				/*max-width: 60%;*/
				margin: auto;
				/*border-bottom: solid 1px $blue-color;*/
				
				h1{
					@media (max-width: 740px){
						margin:15px 0;
					}
					@media (min-width: 740px){
						margin:15px;
					}
					display: inline-block;
					color: $grey-light-color;
					padding: 10px;
					text-align: center;
				}
				.filters{
					display: inline-block;
				}
				.helicopter_type{
					text-transform: uppercase;
				}
				.helicopter_name{

				}
				#logo{
					@media (max-width: 500px){
						display:none;
					}
					img{
						@media (max-width: 640px){
							padding: 6px 20px;
							height: $header_height - 12;
						}
						@media (min-width: 640px){
							padding: 0 20px;
							height: $header_height;
						}
					}
				}
			}
			#header_right{
				/*max-width: 20%;*/
				position: absolute;
				right: 0;
				@media (max-width: 500px){
					display:none;
				}
				#searchbar{
					margin: 15px;
					border: solid 1px $grey-dark-color;
					border-radius: 5px;
					.search_submit{
						padding: 7px;
						width: 16px;
						height: 16px;
					}
					::-webkit-input-placeholder { font: 15px 'biko'; color: $grey-dark-color;}
					::-moz-placeholder          { font: 15px 'biko'; color: $grey-dark-color;}
					:-ms-input-placeholder      { font: 15px 'biko'; color: $grey-dark-color;}
					input:-moz-placeholder      { font: 15px 'biko'; color: $grey-dark-color;}
					.search_content{
						@media (max-width: 640px){width: 100px;}
						@media (min-width: 640px){width: 150px;}
						outline: 0;
						height: 30px;
						margin: 0;
						padding: 0;
						border: 0;
						background: none;
						display: block;
						color: $grey-dark-color;
					}
				}
			}
		}
		.introjs{
			position: absolute;
			z-index: 10000;
			top: 50px;
			left: 50px;
			background: white;
			color: $blue-color;
			border: 1px solid $blue-color;
			border-radius: 5px;
			padding: 10px;
		}
		#content{
			position: relative;
			text-align: center;
			section#choose_helicopter{
				text-align: center;
				.liste_helicopter_wrap{
					width: 840px;
					margin: auto;
					overflow: auto;
					height: 460px;
					.liste_helicopter{
						white-space: nowrap;
						.duo{
							display: inline-block;
							&:first-child{

							}
							.helicopter_link{
								.helicopter_block{
									position: relative;
									display: block;
									height: 180px;
									width: 200px;
									margin: 0 40px 40px;
									.helicopter_img{
										position: relative;
										height: 130px;
										&::after{
											content:url(../img/plus.png);
											/*background-image: url(../img/plus.png);*/
											position: absolute;
											bottom: -12px;
											height: 24px;
											width: 24px;
											left: 0;
											right: 0;
											margin: auto;
										}
									}
									.helicopter_name{
										background: $black-color;
										height: 50px;
										span{
											display: block;
											text-align: center;
											padding: 22px 0 12px;
											color: white;
											font-size: 1.1rem;
										}
									}
								}
							}
						}
					}
				}
			}
			.liste_categories_wrap{
				display: inline-block;
				#categories{
					section.category{
						float: left;
						@media (max-width: 980px){
							padding:20px 5px;
						}
						@media (min-width: 980px){
							padding:20px;
						}
						.list{
							@media (max-width: 640px){
								$list-width:175px;
								width: $list-width;
							}
							@media (min-width: 640px){
								$list-width:225px;
								width: $list-width;
							}
							@media (min-width: 880px){
								$list-width:275px;
								width: $list-width;
							}
							height: 360px;
							overflow-y : auto;
							ul{
								li{							
									position: relative;
									background:$grey-color;
									text-align: left;
									margin: 0 10px 5px 0;
									span{
										font-size: 1.1rem;
										margin: 15px 60px 15px 15px;
										display: inline-block;
									}
									&:after{
										position:absolute;
										right: 0;
										content: "";
										height: 26px;
										width: 46px;
										top: 50%;
										margin-top: -13px;
									}
									&.theme, &.subtheme{
										span{
											color: $theme-color;
										}
										&:after{
											background: url(../img/play.png) 10px no-repeat;
											background-size: contain;		
											border-left: solid 1px $theme-color;
										}
									}
									&.course1{
										span{
											color: $cm-color;
										}
										&:after{
											background: url(../img/cm.png) 10px no-repeat;
											background-size: contain;	
											border-left: solid 1px $cm-color;
										}
									}
									&.course2{
										span{
											color: $cd-color;
										}
										&:after{
											background: url(../img/cd.png) 10px no-repeat;
											background-size: contain;	
											border-left: solid 1px $cd-color;
										}
									}
									&.course3{
										span{
											color: $vi-color;
										}
										&:after{
											background: url(../img/vi.png) 10px no-repeat;
											background-size: contain;	
											border-left: solid 1px $vi-color;
										}
									}
									&.course4{
										span{
											color: $ep-color;
										}
										&:after{
											background: url(../img/ep.png) 10px no-repeat;
											background-size: contain;
											border-left: solid 1px $ep-color;
										}
									}
									&.saw{
										&:before{
											content:"";
											position: absolute;
											width: 26px;
											height: 24px;
											top: 0;
											background: url(../img/check-gris.png);
											background-size: cover;
										}
										&.active, &:hover, &:focus{
											&:before{
												background: url(../img/check-blanc.png);
												background-size: cover;
											}
										}
									}
									&:hover, &:active, &.active{
										cursor: pointer;
										&.theme, &.subtheme{
											background: $blue-color;
											&:after{
												background: url(../img/play_h.png) 10px no-repeat;
												background-size: contain;										
											}
										}
										&.course1{
											background: $cm-color;
										}
										&.course2{
											background: $cd-color;
										}
										&.course3{
											background: $vi-color;
										}
										&.course4{
											background: $ep-color;
										}
										span{
											color: white;
										}
										&:after{
											border-color: white;
										}
									}
								}
							}
						}
					}
				}
			}
			#legend{
				position: fixed;
				width: 100%;
				border-top: 1px solid $grey-color;
				.types_course{
					display: inline-block;
					.type_course{
						float: left;
						margin: 23px 10px 20px 40px;
						span{
							font-size: 1.1rem;
							color: $grey-dark-dark-color;
							padding: 12px;
							position: relative;
							&:before{
								position:absolute;
								content: "";
								width: 30px;
								height: 30px;
								left: -25px;
								top: 5px;
							}
						}
						&.cm{
							span{
								&:before{
									background: url(../img/cm.png);
									background-size: contain;
								}
							}
						}
						&.cd{
							span{
								&:before{
									background: url(../img/cd.png);
									background-size: contain;
								}
							}
						}
						&.vi{
							span{
								&:before{
									background: url(../img/vi.png);
									background-size: contain;
								}
							}
						}
						&.ep{
							span{
								&:before{
									background: url(../img/ep.png);
									background-size: contain;
								}
							}
						}
					}
				}
			}
			section#cd{
				.cd_video{
					width: 60%;
					float: left;
					video{
						width: 100%;
					}
				}
				.cd_wrap{
					width: 40%;
					background: $grey-light-color;
					float: right;
					position: absolute;
					top: 0;
					left: 60%;
					height: 100%;
					overflow-y: auto;
					.list{
						position: relative;
						padding-bottom: 40px;
						ul{
							padding: 10px;
							li{
								margin-bottom: 10px;
								display: block;
								cursor: pointer;
								&.activated {
									.step {
										.title {
											color: $grey-dark-color;
										}
									}
									.percent {
										.var{
											background-color: $grey-dark-color;
										}
									}
								}
								.element{
									position: relative;
									display: inline-block;
									vertical-align: middle;
									span{
										font-size: 1.2rem;
									}
								}
								.step{
									width: 65%;
									background: $grey-color;
									text-align: center;
									margin-right: 2%;
									.title{
										display: block;
										font-size: 1.2rem;
										/*color: $grey-dark-color;*/
										color: $blue-color;
										padding: 8px;
									}
								}
								.percent{
									width: 30%;
									background: $grey-color;
									span.var{
										height: 14px;
										width: 70%;
										/*background: $grey-dark-color;*/
										background: $blue-color;
										display: block;
									}
								}
							}
						}
						&:after{
							content: "";
							position: absolute;
							bottom: 0;
							height: 50px;
							/*width: 100%;*/
							left: 0;
							right: 0;
							background: url(../img/arrow_down.png) center no-repeat;
						}
					}
				}
			}
			section#ep{
				text-align: center;
				.ep_wrap{
					width: 840px;
					padding: 30px 0;
					margin: auto;

					.gotodebriefing {
						background:$grey-color;
						display: inline-block;
						font-size: 1.3rem;
						padding: 12px 10px;
						color: $grey-dark-dark-color;
						margin-top: 10px;
						float: right;
						box-shadow: -4px 4px $grey-dark-color;
						@transition(all, 0.3, ease-in-out);
						&:active{
							box-shadow : 0px 0px $grey-dark-color;
							margin: 14px 4px 0 0;
						} 
					}

					ul{
						li{
							background:$grey-color;
							padding: 10px;
							box-shadow: -4px 4px $grey-dark-color; 
							margin-bottom: 10px;
							@transition(all, 0.3, ease-in-out);
							&:active{
								box-shadow : 0px 0px $grey-dark-color;
								margin : 4px 4px 10px 0;
							} 
							div.element{
								position: relative;
								display: inline-block;
								vertical-align: middle;
								span{
									font-size: 1.2rem;
								}
							}
							.step{
								width: 350px;
								background: $grey-dark-color;
								.bar{
									height: 30px;
									width: 70%;
									background: $blue-color;
									display: block;
								}
								.title{
									font-size: 1.1rem;
									color: white;
									position: absolute;
									padding: 6px;
									bottom: 0;
									left: 0;
									right: 0;
								}
							}
							.pilot_name, .success, .errors, .call {
								span{
									font-size: 1.3rem;
									padding: 5px 0;
									color: $grey-dark-dark-color;
								}
							}
							.pilot_name{
								width: 200px;
								text-align: left;
							}
							.success, .errors, .call{
								width: 75px;
								height: 30px;
								span{
									margin-right: 40px;
									display: inline-block;
									/*padding: 5px 10px;*/
									/*padding-right: 50px;*/
									&:after{
										content:"";
										width:25px;
										height: 25px;
										position: absolute;
										right: 15px;
										top: 1px;
									}
								}
							}
							.success, .errors{
								border-right: 2px solid $blue-color;
								text-align: right;
								span{
									padding: 6px 10px;
								}
							}
							.success{
								span{
									&:after{
										background: url(../img/success.png);
										background-size: contain;
									}
								}
							}
							.errors{
								span{
									&:after{
										background: url(../img/errors.png);
										background-size: contain;
									}
								}
							}
							.call{
								span{
									padding: 5px 30px;
									&.active:after{
										background: url(../img/call.png);
										background-size: contain;
									}
								}
							}
							&.gotodebriefing{
								display: inline-block;
								float: right;
								span{
									display: block;
									text-transform: uppercase;
									padding: 3px 3px 0;
								}
							}
						}
					}
				}
				.ep_list_wrap{
					@transition(all, 0.3, ease-in-out);
					@media (max-width: 640px){
						width: 80%;
					}
					@media (min-width: 640px){
						width: 60%;
					}
					@media (min-width: 1000px){
						width: 40%;
					}
					left: 100%;
					background: $grey-light-color;
					float: right;
					position: absolute;
					top: 5%;
					height: 90%;
					&.ep_list_opened{
						@transition(all, 0.3, ease-in-out);
						@media (max-width: 640px){
							left: 20%;
						}
						@media (min-width: 640px){
							left: 40%;
						}
						@media (min-width: 1000px){
							left: 60%;
						}
						h3{
							&:before{
								content: url(../img/moins_entoure.png) center no-repeat;
							}
						}
					}
					h3{
						cursor: pointer;
						&:before{
							content: url(../img/plus_entoure.png) center no-repeat;
							position: absolute;
							top: 0;
							height: 100%;
							width: 48px;
							left: -48px;
							background: $blue-color;
						}

					}
					.plus{
						position: absolute;
						top: 0;
						height: 48px;
						width: 48px;
						left: -285px;
					}
					.list{
						position: relative;
						padding-bottom: 40px;
						height: 100%;
						overflow: auto;
						ul{
							padding: 10px;
								overflow: auto;
							li.ep_step{
								margin-bottom: 10px;
								display: block;
								cursor: pointer;
								&.activated {
									.step {
										.title {
											color: $grey-dark-color;
										}
									}
									.percent {
										.var{
											background-color: $grey-dark-color;
										}
									}
								}
								.element{
									position: relative;
									display: inline-block;
									vertical-align: middle;
									span{
										font-size: 1.2rem;
									}
								}
								.step{
									width: 65%;
									text-align: left;
									margin-right: 2%;
									.title{
										display: block;
										font-size: 1.2rem;
										/*color: $grey-dark-color;*/
										color: $grey-dark-color;
										padding: 5px;
									}
								}
								.percent{
									width: 30%;
									background: $grey-color;
									span.var{
										height: 14px;
										width: 70%;
										/*background: $grey-dark-color;*/
										background: $blue-color;
										display: block;
									}
								}
								.list_title{
									width: 30%;
									text-align: left;
									span{
										color: $grey-dark-color;
										font-size: 1.1rem;
									}
								}
							}
						}
						&:after{
							content: "";
							position: absolute;
							bottom: 0;
							height: 50px;
							/*width: 100%;*/
							left: 0;
							right: 0;
							background: url(../img/arrow_down.png) center no-repeat;
						}
					}
				}
			}
			section#ep-pilote{
				text-align: center;
				height:100%;
				background:white;
				.ep_list_wrap{
					@transition(all, 0.3, ease-in-out);
					@media (max-width: 640px){
						width: 80%;
					}
					@media (min-width: 640px){
						width: 60%;
					}
					@media (min-width: 1000px){
						width: 40%;
					}
					left: 100%;
					background: $grey-light-color;
					float: right;
					position: absolute;
					top: 5%;
					height: 90%;
					&.ep_list_opened{
						@transition(all, 0.3, ease-in-out);
						@media (max-width: 640px){
							left: 20%;
						}
						@media (min-width: 640px){
							left: 40%;
						}
						@media (min-width: 1000px){
							left: 60%;
						}
						h3{
							&:before{
								content: url(../img/moins_entoure.png) center no-repeat;
							}
						}
					}
					.head{
						h3{
							text-transform:uppercase;
							cursor: pointer;
							padding: 15px 160px 15px 0;
							&:before{
								content: url(../img/plus_entoure.png) center no-repeat;
								position: absolute;
								top: 0;
								height: 100%;
								width: 48px;
								left: -48px;
								background: $blue-color;
							}
						}
						.success, .errors{
							width: 75px;
							height: 30px;
							text-align: right;
							margin:10px;
							float:right;
							position: absolute;
							top: 0;
							span{
								font-size: 1.3rem;
								padding: 5px 0;
								color: white;
								padding: 6px 10px;
								margin-right: 40px;
								display: inline-block;
								&:after{
									content:"";
									width:25px;
									height: 25px;
									position: absolute;
									right: 15px;
									top: 1px;
								}
							}
						}
						.success{
							right: 85px;
							span{
								&:after{
									background: url(../img/success_w.png);
									background-size: contain;
								}
							}
						}
						.errors{
							right: 10px;
							span{
								&:after{
									background: url(../img/errors_w.png);
									background-size: contain;
								}
							}
						}
					}
					.plus{
						position: absolute;
						top: 0;
						height: 48px;
						width: 48px;
						left: -285px;
					}
					.list{
						position: relative;
						padding-bottom: 40px;
						height: 100%;
						overflow: auto;
						ul{
							padding: 10px;
							overflow: auto;
							li.step{
								background:$grey-color;
								padding: 10px;
								height:30px;
								margin: 0px 0px 10px 0px;
								@transition(all, 0.3, ease-in-out);
								div.element{
									position: relative;
									display: inline-block;
									vertical-align: middle;
									span{
										font-size: 1.2rem;
									}
								}
								.step_name, .success, .errors {
									span{
										font-size: 1.3rem;
										padding: 5px 0;
										color: $grey-dark-dark-color;
									}
								}
								.step_name{
									width: 200px;
									margin : 6px 10px;
									float:left;
									text-align: left;
								}
								.success, .errors{
									width: 75px;
									height: 30px;
									span{
										margin-right: 40px;
										display: inline-block;
										/*padding: 5px 10px;*/
										/*padding-right: 50px;*/
										&:after{
											content:"";
											width:25px;
											height: 25px;
											position: absolute;
											right: 15px;
											top: 1px;
										}
									}
								}
								.success, .errors{
									text-align: right;
									float:right;
									span{
										padding: 6px 10px;
									}
								}
								.success{
									border-right: 2px solid $blue-color;
									span{
										&:after{
											background: url(../img/success.png);
											background-size: contain;
										}
									}
								}
								.errors{
									span{
										&:after{
											background: url(../img/errors.png);
											background-size: contain;
										}
									}
								}
								.favorite{
									height:30px;
									width:30px;
									cursor:pointer;
									float:left;
									background: url(../img/fav_off.png);
									background-size:cover;
									&.is_favorite{
										background: url(../img/fav_on.png);
										background-size:cover;
									}
								}
							}
							li.li_head{
								height:25px;
								padding: 0 10px;
								.list_title{
									float:right;
									width:75px;
									color:$grey-dark-color;
								}
							}
						}
						&:after{
							content: "";
							position: absolute;
							bottom: 0;
							height: 50px;
							/*width: 100%;*/
							left: 0;
							right: 0;
							background: url(../img/arrow_down.png) center no-repeat;
						}
					}
				}
			}
			section#vi{
				text-align: center;
				.video_wrap{
					width: 840px;
					padding: 30px 0;
					margin: auto;
					video{
						width: 100%;
					}
				}
			}
			.modal{
			  &:before{
			    display: block;
			    background: rgba(0,0,0,.6);
			    position: fixed;
			    top: 0; left: 0; right: 0; bottom: 0; 
			    z-index: 10;
			  }
			  &:target{
			    &:before{
			    }  
			    .modal-dialog{
			      @include translate(0,0); 
			    }
			  }
			}
			.modal{
				.modal-dialog{
				  background: #fefefe;
				  position: fixed; 
				  z-index: 11;
				  width: 100%;
				  @include translate(0,-2000px);
				  @transition(all, 0.3, ease-in-out);
				  video{
				  	width: 100%;
				  }
				  .close{
				  	position: absolute;
				  	top:10px;
				  	right: 10px;
				  }
				}
			}
			#close {
			  display: none; 
			}
			.schema_image{
				position: fixed;
				bottom: 0;
				right: 0;
				left: 0;
				.schema_image_plus{
					position: absolute;
					background: $grey-dark-color url(../img/moins_entoure.png) center no-repeat;
					height: 48px;
					width: 48px;
					top: -48px;
					right: 0;
					cursor: pointer;
					&.close{
						/*@transition(all, 3s, ease-in-out);*/
						background-image: url(../img/plus_entoure.png);
					}
				}
				.schema_image_wrap{
					position: relative;
					width: 100%;
					height: 126px;
				}
			}
			section#dc{
				text-align: center;
				.dc_wrap{
					width: 840px;
					padding: 30px 0;
					margin: auto;
					ul{
						li{
							background:$grey-color;
							padding: 10px;
							box-shadow: -4px 4px $grey-dark-color; 
							margin-bottom: 10px;
							@transition(all, 0.3, ease-in-out);
							&:active{
								box-shadow : 0px 0px $grey-dark-color;
								margin : 4px 4px 10px 0;
							} 
							div.element{
								position: relative;
								display: inline-block;
								vertical-align: middle;
								span{
									font-size: 1.2rem;
								}
							}
							.success, .errors, .favorites {
								span{
									font-size: 1.3rem;
									padding: 5px 0;
									color: $grey-dark-dark-color;
								}
							}
							.success, .errors, .favorites{
								width: 75px;
								height: 30px;
								span{
									margin-right: 40px;
									display: inline-block;
									/*padding: 5px 10px;*/
									/*padding-right: 50px;*/
									&:after{
										content:"";
										width:25px;
										height: 25px;
										position: absolute;
										right: 15px;
										top: 1px;
									}
								}
							}
							.success, .errors, .favorites{
								border-right: 2px solid $blue-color;
								text-align: right;
								span{
									padding: 6px 10px;
								}
							}
							.success{
								span{
									&:after{
										background: url(../img/sucess_dc.png);
										background-size: contain;
									}
									&.active:after{
										background: url(../img/sucesss.png);
										background-size: contain;
									}
								}
							}
							.errors{
								span{
									&:after{
										background: url(../img/errors_dc.png);
										background-size: contain;
									}
								}
							}
							.favorites{
								span{
									&:after{
										background: url(../img/favori.png);
										background-size: contain;
									}
								}
							}							
						}
					}
				}
			}
			&.login{
				background: url(../img/bg_login.jpg) 50% -100px;
				background-size: cover;
				padding: 150px;
				text-align: left;
				form{
					display: inline-block;
					::-webkit-input-placeholder { color:$grey-color; font: 1.5rem 'biko'; height: 40px; line-height: 40px; }
					::-moz-placeholder          { color:$grey-color; font: 1.5rem 'biko'; height: 40px; line-height: 40px; } /* firefox 19+ */
					:-ms-input-placeholder      { color:$grey-color; font: 1.5rem 'biko'; height: 40px; line-height: 40px; } /* ie */
					input:-moz-placeholder      { color:$grey-color; font: 1.5rem 'biko'; height: 40px; line-height: 40px; }
					.container{
						display: block;
						background: white;
						margin: 0 0 20px;
						border-radius: 5px;
						label{
							display: block;
							float: left;
							width: 28px;
							height: 30px;
							margin: 5px;
							&#username{
								background: url('../img/user_icon.png');
								background-size: cover;
							}
							&#password{
								background: url('../img/password_icon.png');
								background-size: cover;
							}
						}
						input{
							color: $grey-dark-color!important;
							font: 1.5rem 'biko';
							height: 40px;
							line-height: 40px;
							float: right;
							background: none;
							border:none;
							padding: 0 10px;
						}
						.select2-container{
							height: 40px;
							line-height: 40px;
							width: 100%;
							font: 1.5rem 'biko';
							color: $grey-dark-color;
							span, a{
								color: $grey-dark-color;
								text-align: center;
								height: 40px!important;
								line-height: 40px!important;
							}
							.select2-choice{
								.select2-arrow{
									width: 40px;
									b{
										width: 18px;
										margin: 0 11px;
										background-position-y: 7px;
									}
								}
							}
						}
						.select2-results .select2-result-label{
							color: $grey-dark-color!important;
						}
					}
					button{
						border-radius: 5px;
						background: $blue-color;
						width: 100%;
						font: 1.5rem 'biko';
						color: white;
						border: none;
						height: 40px;
						line-height: 40px;
						cursor: pointer;
					}
				}
			}
		}
		.cm_images{
			margin: auto;
			width: 100%;
			.image{
				embed{
					margin: auto;
					display: block;
					width: 100%;
					height: 100%;
				}
			}
		}

		footer{
			.fake_scrollbar{
				position: fixed;
				bottom: 0;
				height: 20px;
				width: 100%;
				background: $black-color;
				&:before{
					content:"";
					position: absolute;
					display: block;
					width: 100%;
					border-bottom: 1px solid $blue-color;
					top:10px; 
				}
			}
		}
	}
}
