{% extends 'IRYAppliBundle:Application:base.html.twig' %}
{% block body %}

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    {{form(form)}}
	

	<script>

		$("form#login_form").bind("submit", function(e) {
			$.cookie("serie", null);
			
			var serie = $(this).find("select").val();
			$.cookie("serie", serie);
			
		});

	</script>
{% endblock %}