{% extends 'IRYAppliBundle:Application:base.html.twig' %}

{% block header_title %}
    Chapters
{% endblock %}

{% block body %}
	<div id="content" class="crud-container">
		<label class="label">Update a Chapter</label>
		{{ form(updateCourseForm) }}
	</div>
{% endblock %}
